.searchBar {
  background-color: rgba(210, 210, 210, 0.8);
  border-radius: 3px;
  padding: 30px;
}

.searchBar > .full > .firstRow {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.searchBar > .full > .firstRow > img {
  width: 50px;
}

.searchBar > .full > .firstRow > input {
  font-size: 30px;
  width: 100%;
}

.searchBar > .full {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-direction: column;
}

.searchBar > .full > input {
  background: black;
  color: white;
  padding: 10px;
  font-size: 15px;
}
