.weatherNow {
  color: white;
  background: rgba(105, 105, 105, 0.8);
  height: fit-content;
  padding: 10px;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.currentLocation {
  font-size: x-large;
  font-weight: bold;
  padding-left: 30px;
}

.currentTemp {
  font-size: larger;
  font-weight: bold;
}

.currentTempIcon {
  width: 80px;
}
